<!DOCTYPE html>
<html lang="es">
<head>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">


    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/estilo.css" rel="stylesheet" />

    <title>@ViewBag.Title - Agencia de Viajes</title>


   




    @Styles.Render("~/Content/DevExtremeBundle")
    @Scripts.Render("~/Scripts/bundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
</head>
<!-- Antes del </body> -->

<body class="light-mode">
    <!-- Banner superior -->
    <div class="navbar-header">Transacciones Agencia de Viajes</div>

    <!-- Menú horizontal debajo del banner -->
    <!-- <nav class="navbar">    -- >-->
    <!-- Barra lateral fija a la izquierda      <nav class="navbar fixed-left"> -->

    <nav class="navbar">
        <ul class="navbar-nav">


            <li class="nav-item">
                <a href="@Url.Content("~/Content/ManualdeUsuario.pdf")" class="nav-link" target="_blank">
                    <i class="fas fa-info-circle"></i> Acerca de (ManualdeUsuario)
                </a>
            </li>



            <li class="nav-item">
                <a href="@Url.Action("Index", "Home")" class="nav-link">
                    <img src="~/Content/inicio.png" alt="Inicio" style="width: 20px; height: 20px; display: block; margin: 0 auto;">
                    Inicio
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Cliente", "Home")" class="nav-link">
                    <img src="~/Content/cliente.png" alt="Clientes" style="width: 20px; height: 20px; display: block; margin: 0 auto;">
                    Clientes
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Paquete", "Home")" class="nav-link">
                    <img src="~/Content/paquete .png" alt=" Paquetes Tur&#237;sticos" style="width: 20px; height: 20px; display: block; margin: 0 auto; ">
                    Paquetes Tur&#237;sticos
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Reserva", "Home")" class="nav-link">
                    <img src="~/Content/reserva.png" alt="Reservas" style="width: 20px; height: 20px; display: block; margin: 0 auto; ">
                    Reservas
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Cotizacion", "Home")" class="nav-link">
                    <img src="~/Content/cotizacion.png" alt="Cotizaci&oacute;n" style="width: 20px; height: 20px; display: block; margin: 0 auto;">
                    Cotizaci&oacute;n
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Factura", "Home")" class="nav-link">
                    <img src="~/Content/factura.png" alt="Facturas" style="width: 20px; height: 20px; display: block; margin: 0 auto; ">
                    Factura
                </a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="~/Content/empleado.png" alt="Empleados" style="width: 20px; height: 20px; display: block; margin: 0 auto; ">
                    Empleados
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="@Url.Action("AgentedeViaje", "Home")">Agente de Viaje</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="@Url.Action("GuiaTuristico", "Home")">Gu&#237;a Tur&#237;stico</a>
                    </li>
                </ul>
            </li>




        </ul>


    </nav>

    <!-- Contenedor principal con margen adecuado -->
    <div class="container">
        <!-- Contenido principal -->
        <div class="main-content">
            @RenderBody() <!-- Esto es obligatorio -->
        </div>
    </div>

   
</body>
</html>

