<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Content/Site.css" rel="stylesheet" />

    <title>Transacciones de Agencia de Viajes</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://unpkg.com/devextreme-quill@24_1/dist/dx-quill.min.js"></script> *@

    @Styles.Render("~/Content/bundle")
    @Styles.Render("~/Content/DevExtremeBundle")
    @Scripts.Render("~/Scripts/bundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
</head>

<body style="padding-top: 3.5rem;">
    <div class="navbar-header">
        Agencia de Viajes
    </div>
    <!-- Barra lateral fija a la izquierda -->
    <nav class="navbar fixed-left">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="@Url.Action("Index", "Home")" class="nav-link">Inicio</a></li>
            <li class="nav-item"><a href="@Url.Action("Cliente", "Home")" class="nav-link">Clientes</a></li>
            <li class="nav-item"><a href="@Url.Action("Paquete", "Home")" class="nav-link">Paquetes Turisticos</a></li>
            <li class="nav-item"><a href="@Url.Action("Reserva", "Home")" class="nav-link">Reservas</a></li>
            <li class="nav-item"><a href="@Url.Action("Cotizacion", "Home")" class="nav-link">Cotizacion</a></li>
            <li class="nav-item"><a href="@Url.Action("Factura", "Home")" class="nav-link">Factura</a></li>
            <li class="nav-item"><a href="@Url.Action("Empleado", "Home")" class="nav-link">Factura</a></li>
        </ul>
    </nav>

    <!-- Contenedor para el contenido de la página -->
    <div class="main-content">
        <div class="container">
            @RenderBody()
        </div>
    </div>

</body>
</html>
