<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Transacciones de Agencia de Viajes</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/bundle")
    @Styles.Render("~/Content/DevExtremeBundle")
    @Scripts.Render("~/Scripts/bundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
</head>

<body style="padding-top: 3.5rem;">
    <!-- Viñeta con el nombre de la Agencia -->
    <div class="navbar-header">
        Agencia de Viajes
    </div>

    <!-- Menú lateral fijo a la izquierda -->
    <nav class="navbar fixed-left">
        <!-- Botón para ocultar/mostrar menú -->
        <button class="navbar-toggle">☰</button>

        <ul class="navbar-nav">
            <a href="@Url.Action("Index", "Home")" class="nav-link active">Inicio</a>
            <li class="nav-item"><a href="@Url.Action("Cliente", "Home")" class="nav-link">Clientes</a></li>
            <li class="nav-item"><a href="@Url.Action("Paquete", "Home")" class="nav-link">Paquetes Turisticos</a></li>
            <li class="nav-item"><a href="@Url.Action("Reserva", "Home")" class="nav-link">Reservas</a></li>
            <li class="nav-item"><a href="@Url.Action("Cotizacion", "Home")" class="nav-link">Cotización</a></li>
            <li class="nav-item"><a href="@Url.Action("Factura", "Home")" class="nav-link">Factura</a></li>
        </ul>
    </nav>

    <!-- Contenedor para el contenido de la página -->
    <div class="main-content">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <script>
        const toggleButton = document.querySelector('.navbar-toggle');
        const navbar = document.querySelector('.navbar');

        // Funcionalidad para mostrar/ocultar el menú
        toggleButton.addEventListener('click', () => {
            if (navbar.style.transform === 'translateX(-250px)') {
                navbar.style.transform = 'translateX(0)';
            } else {
                navbar.style.transform = 'translateX(-250px)';
            }
        });
    </script>
</body>
</html>

